<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
      </div>
      <h1>Latest Mars News</h1>
      <h3>{{mars.mars_title}}</h3>
      <p>{{mars.mars_paragraph}}</p>
      <div class="row">
          <div class="col-lg-8 col-sm-12">
              <h1>Featured Mars Image</h1>
              <img src="{{mars.image_url}}" style="width:80%; height:50%;">
          </div>
          <div class="col-lg-4 col-sm-12">
              <h1>Mars Facts</h1>
              <span>
                  {{mars.mars_facts}}
                  <!-- {{mars_facts|safe}} -->
              </span>
          </div>
      </div> 
      <div class="row" style="padding:70px;">
          <h1>Mars Hemispheres</h1>
          {% for hemisphere in mars.image_urls %}
          <div class="col-lg-5 col-xs-12">
              <div class="thumbnail">
                  <img src="{{image_urls}}">
                  <div class="caption">
                      <h4>{{image_urls.title}}</h4>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
    </div>

</body>

</html>